server:
  port: 8085

spring:
  application:
    name: audit-logging
  datasource:
    url: jdbc:postgresql://localhost:5432/auditdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.loanorigination.auditlogging: DEBUG

