server:
  port: 8081

spring:
  application:
    name: orchestrator

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    enabled: true

logging:
  level:
    com.loanorigination.orchestrator: DEBUG

